<h1>Modifier Groups</h1>

<table>
  <thead>
    <tr>
      <th>Modifier</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @modifier_groups.each do |modifier_group| %>
      <tr>
        <td><%= modifier_group.modifier %></td>
        <td><%= link_to 'Show', modifier_group %></td>
        <td><%= link_to 'Edit', edit_modifier_group_path(modifier_group) %></td>
        <td><%= link_to 'Destroy', modifier_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Modifier Group', new_modifier_group_path %>
